body {
  margin: 0;
}

#title1, #title2, #title3 {
  position: absolute;
  background-color: white;
  padding: 25px;
  width: 60%;
  margin-left: 20%;
  text-align: center;
  z-index: 1;
  opacity: 0.75;
}

#title1 {
  top: 300px;
}

#title2 {
  top: 1300px;
}

#title3 {
  top: 2300px;
}

#head {
  width: 100%;
  position: fixed;
}

#container {
  position: absolute;
  z-index: 1;
  top: 3000px;
  height: 5000px;
  background-color: white;
  width: 100%;
}
