body {
  margin: 0;
  background-color: #474747;
}

#header {
  background-color: #333333;
  font-family: Arial;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  letter-spacing: .6em;
  font-weight: bold;
  color: white;
  position: fixed;
  z-index: 3;
  width: 100%;
}

.title {
  position: fixed;
  width: 60%;
  margin-left: 20%;
  text-align: center;
  z-index: 1;
  font-family: Georgia;
  color: white;
  font-size: 26px;
  top: 300px;
}

.final-title {
  position: fixed;
  width: 40%;
  margin-left: 30%;
  text-align: center;
  z-index: 3;
  font-family: Georgia;
  color: white;
  font-size: 44px;
  display: inline;
  top: 260px;
}

#head {
  width: 80%;
  position: fixed;
  margin: 100px 10% 50px 10%;
  display: none;
  z-index: 2;
}

#container {
  position: absolute;
  z-index: 5;
  top: 2200px;
  height: 5000px;
  background-color: white;
  width: 100%;
  padding-top: 75px;
}

.body-copy {
  width: 60%;
  margin: 50px auto 50px auto;
  max-width: 550px;
  font-family: Georgia;
  font-size: 19px;
  line-height: 1.4em;
}

#map-box {
  position: relative;
}

#map {
  width: 100%;
}
