body {
  margin: 0;
  background-color: #474747;
}

#header {
  background-color: #333333;
  font-family: Arial;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  letter-spacing: .6em;
  font-weight: bold;
  color: white;
  position: fixed;
  z-index: 5;
  width: 100%;
}

.title {
  position: fixed;
  width: 60%;
  margin-left: 20%;
  text-align: center;
  z-index: 1;
  font-family: Georgia;
  color: white;
  font-size: 26px;
  top: 300px;
}

.final-title {
  position: fixed;
  width: 40%;
  margin-left: 30%;
  text-align: center;
  z-index: 3;
  font-family: Georgia;
  color: white;
  font-size: 44px;
  display: inline;
  top: 320px;
}

#head {
  width: 80%;
  position: fixed;
  margin: 100px 10% 50px 10%;
  display: none;
  z-index: 2;
}

#container {
  position: absolute;
  z-index: 4;
  top: 2200px;
  height: 5000px;
  background-color: white;
  width: 100%;
  padding-top: 75px;
}

.body-copy {
  width: 60%;
  margin: 50px auto 50px auto;
  max-width: 550px;
}

.copy {
  font-family: Georgia;
  font-size: 19px;
  line-height: 1.4em;
}

.section {
  padding-top: 25px;
  font-family: Arial;
  font-size: 17px;
  letter-spacing: .1em;
  font-weight: bold;
  color: #6eb9ce;
  text-transform: uppercase;
}

.graphic-title {
  font-family: Arial;
  font-size: 22px;
  width: 1000px;
  margin: 10px auto 0px auto;
  color: #6d6e71;
  font-weight: bold;
}

.graphic-sub {
  font-family: Arial;
  font-size: 16px;
  width: 1000px;
  margin: 5px auto 30px auto;
  color: #6d6e71;
}

#sprys, #littleneck, #thomas, #longmarsh, #nelson, #roystons, #sharps, #greatcove, #fish, #piney {
  opacity: 0;
}

#sprys-circle {
  position: absolute;
  top: 530px;
  left: 308px;
  z-index: 1;
}

.islands {
  width: 1000px;
  margin: 10px auto 10px auto;
}

.islands img {
  width: 100%;
}
